---
---

// temporary banner colour is at the end of this file

@charset "utf-8";
@import "bourbon/bourbon";
@import "neat/neat";
@import "neat/neat-helpers"; 

//  Variables
$mobile:        new-breakpoint(max-width 500px 4);
$tablet:        new-breakpoint(min-width 501px max-width 900px 4);
$large-screen:  new-breakpoint(min-width 901px 12);

$font-size:     20px;
$buffer:        200px;
$width:         700px;

@include media($mobile) {
  font-size: 16px;
}


//	Colours

$darkest: 			#221E3F;
$dark:					#6A739E;
$light:					#9395C5;
$lightest:			#95A3E4;
$darkgrey:			#424242;
$lightgrey:			#CCCCCC;

@mixin space {
  margin: auto; 
  padding-top: 65px;
  padding-bottom: 50px;
  padding-left: 1em;
  padding-right: 1em;

  @include media($mobile) {
    padding-top: 25px;
    padding-bottom: 5px;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 380px;
  }
  @include media($tablet) {
    padding: 75px 1em;
  }
}

@mixin wrapper($w: $width) {
  max-width: $w;
  margin: auto;
}
@mixin input {
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1em;
  min-width: 10em;
}

@mixin trim {
  margin: 0; 
  padding: 0;
}

@mixin invert($color: $dark) {
  background: $color;
  color: white;
}

* { @include trim; }

html { 
  height: 100%;
  font-size: $font-size; font-family: 'Merriweather', serif; font-weight: 300;
  border-top: 5px solid $dark;
  color: $darkgrey;
  background: $lightgrey;
}

header, section { background: white;}

h1, h2, h3, h4, h5, p, ul, li, pre { 
  @include trim;
  margin-bottom: $font-size; 
  line-height: 1.3em;
  font-weight: 300;
}

h1 { font-size: 2em; margin-top: $font-size * 1.5; }
h2 { font-size: 1.5em; margin-top: $font-size * 1.5; }
h3, h4 { font-weight: 400; }

a { text-decoration: none; color: darken($dark, 10); }
a:hover { text-decoration: none; color: $light;  }

pre {
  line-height: 1em;
}

blockquote { 
  border-left: 10px solid $lightgrey;
  padding-left: 1.5em;
}

section { 
  @include space;

  .wrapper {
    @include wrapper;
    padding: 1em;
    overflow: hidden;
  }
}

.site-header { padding-top: 2em; }

.home { 
  min-height: 100vh;
  text-align: center;

  .hero {
    h1, h2, h3, h4, h5, h6, p {
      @include trim;
    } 

    div {
      padding: $buffer 1em;
      text-align: left;
      margin: auto; 
      max-width: 640px;

      @include media($tablet) {
        margin-top: $buffer / 2;
        padding: $buffer / 2 1em;
      }
      
      @include media($mobile) {
        margin-top: 0;
        text-align: center;
        padding: $buffer / 4 1em;
     }
    }

    h1 { 
      font-size: 2em;
      line-height: 1em;
    }
    span { color: $dark; } 
  }

  .about { 
    @include invert;
  }

  .signup { 
    @include invert($light);
    padding-bottom: 3.5rem;

    input {
      @include input;
    }
    #email {
      color: $lightgrey;
    }
    input[type=submit] {
      color: $dark;
    }
  }

  .bullets {
    @include wrapper(900px);
    overflow: auto;

    a {
      text-decoration: none;
    }
    .bullet {
     @include media($large-screen) {
        @include span-columns(4);
        @include omega(3n);
      }
    }
    .bullet-content {
      margin-bottom: 2em;
    }

    h2 {
      font-weight: 300;
      font-size: 1.25em;
      padding-top: $font-size /7;
      margin-bottom: $font-size;
      border-bottom: 1px solid transparentize($darkgrey, .8);
      display: inline-block;
    }
  }
}

.membership {
  .post-content p {
    a {
      padding: 2px 0.33rem;
      background: $light;
      border-radius: 3px;
      color: #FFF;
    }
    a:hover {
      background: lighten($light, 10%);
    }

  }

  .signup {
    margin: 100px 0;
    padding: 50px 0;
    width: 100%; overflow: display;
    text-align: center;
    @include invert($light); 

    input { width: 80%; font-size: 1em; }
    input[type=submit] { min-height: 2em; }
  }  
}




.quote { 
  font-size: 1.5em; 
  @include media($mobile) {
    font-size: 1.2em; 
 }  
}

.post-list {
  h2 {
    font-size: 1.2em; 
    margin-bottom: $font-size /2 ;
  }

  .post {
    margin-bottom: $font-size * 2;
    margin-left: 0;
  }
  .post-meta {
    margin: 0;
  }
  .excerpt {
    max-height: 10em;
    overflow: hidden;
    * {
      font-size: 1em;
      margin-top: $font-size;
    }
  }
}
.post { 
  p {
    line-height: 1.33;
    a {
      // padding: 1px 3px;
      // background: lighten($light, 25%);
    }   
  }
 

  list-style: none; text-align: left; 
  li { margin-left: 1em; }

  .post-header {
    position: relative; 
    top: -1em;
    z-index: 1;
  }

  .post-title {
    width: 100%;
    @include media($large-screen) {
      width: $width /1.1;
    }
    @include wrapper;
    border-bottom: 1px solid;   
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 0.25rem;
    text-transform: capitalize;
  }

  .post-meta {
    margin-top: 0.5em;
  }
  .bio {
    margin-top: $font-size;
  }
}

.events {
  h2 {
    margin-bottom: 0;
  }
}

.post-meta {
  font-size: 0.8em;
}

.contact {
  margin-top: $font-size;
  .detail { display: block; }
}

#mc-embedded-subscribe-form {

  label { display: none;}
  input { margin: 1px 1px; }
  input[type=email], input[type=text] { color: #666; font-family: sans-serif; padding: 0.75em 0.5em 0.5em 1em; line-height: 1.1em; }
}

.topbar {
  // position: absolute;
  // top: 0;
  width: 100%;

  @include media($mobile) {
    top: 0; left: 0;
    text-align: center;
  }  

  p.notice {
    margin: 0;
    padding: 1rem;
    background: $dark;
    font-size: 0.85rem;
    text-align: center;
    a { 
      color: #FFF;
      &:hover {
        color: lighten($lightest, 5%);
      }
    }
  }
}

.site.navigation {

  float: left;
  margin-top: 1.5rem;
  margin-left: 2rem;
  text-align: left;
  z-index: 10;

  @include media($mobile) {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }  

  .trigger {
    color: $dark;
    @include media($mobile) {
      background: $dark;
      color: white;
      a { color: white; }
      padding: 0.25em;
    }
  }
  ul { 
    position: absolute;
    margin: 0; 
    opacity: 0.0;
    z-index: 100;
    @include transition(opacity, 0.5s);
    @include media($mobile) {
      width: 100%;
      padding-bottom: 0.5em;
    }  
  }
  li { 
    list-style:none;
    display: none;
    margin: 0;
    // padding-right: 2rem;
    padding-right: 2em;
    @include media($mobile) {
      background: $dark;
      a { color: white; }
    }
  }
  li:hover {
    @include media($mobile) {
      background: lighten($dark, 5);
      a { color: white; }
    }    
  }
}
.site.navigation:hover > ul {
  opacity: 1.0;
  background: white;
  @include transition(opacity, 0.8s);

  li {
    display: block;
  }
}

.search-bar {
  $search-bar-border-color: $dark;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10);

  float: right;
  margin-top: 1.5rem;
  margin-right: 2rem;

  @include media($mobile) {
    display: none;
  }

  input {
    @include box-sizing(border-box);
    display: block;
    border: $search-bar-border;
  }

  div.search-and-submit {
    position: relative;

    input[type=search] {
      @include appearance(none);
      width: 100%;
      padding: .5em .8em;
      font-size: .9em;
      font-style: italic;
      border-radius: 3px;
      margin: 0;
      opacity: 0.5;
    }


    button[type=submit] {
      position: absolute;
      top: 0; right: 0; bottom: 0;
      background: $dark;
      outline: none;
      border-radius: 3px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 5px 10px;
      min-height: $font-size *2;

      img {
        height: 12px;
        opacity: .7;
      }
    }
  }
}
.search-bar:hover  input[type=submit] {
  opacity: 1.0;
  @include transition(opacity, 0.8s);
}

.search-results { 
  min-height: 25vh;
}


footer { 
  @include space; background: $lightgrey; color: $darkgrey; margin-bottom: 0; 
  text-align: center; line-height: 2em; font-size: 0.8em;

  a { color: $darkgrey; }
  a:hover { color: $dark; }
  span { padding: 0.5em; }
  .wrapper {
    @include wrapper;
  }
}

@media print {
  $font-size: 12pt;
  font-size: 12pt !important;
   body {
      color: #000;
      background: #fff;
   }
}
  
// temporary banner colour edits
html { border: none; }
.topbar p.notice { 
  background: hsla(0, 68%, 45%, 1) !important; 
  color: #fff; 

  a { color: #fff; }
  a:hover { color: hsla(0, 68%, 45%, 0.1); }
}