<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="google-site-verification" content="rIKxZPofMliUXQSNWMd2JDe5G0WYnCSlhnAgURCxVkc" />
		<meta name="google-site-verification" content="Re0-fnjxAVolkDinn8erWk4WKu-UIO4BTU-5Eg4Jw3Y" />
		<link href='http://fonts.googleapis.com/css?family=Merriweather:300,400,700,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ "/css/aapae.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
