<div class="topbar">
  <p class="notice"><a href="/events/28th-annual-aapae-conference">28th Annual Virtual Conference – 11th to 13th August 2021.
Hosted by the Law Futures Centre at Griffith University, Queensland<br/> 
The theme will be ‘Social Licence and Ethical Practice’  … more details here.</a></p>



  <nav class="site navigation">
  	<div class="trigger"><a href="#" onclick="javascript:var m=getElementById('menu');m.style.opacity=1;return void(0);">AAPAE</a></div>
  	<ul id="menu">
  		<li><a href="/">Home</a></li>
  		<li><a href="/about/">About</a></li>
  		<li><a href="/events/">Events</a></li>
  		<li><a href="/membership/">Membership</a></li>
  		<!-- <li><a href="/publications/">Publications</a></li>    		 -->
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/newsletters/">Newsletters, etc</a></li>
  		<li class="search-nav"><a href="/search/">Search</a></li>
  	</ul>
  </nav>

  <form class="search-bar" action="/search" method="get" data-search-form>
    <div class="search-and-submit">
      <input type="search" placeholder="Enter Search" name="q" id="q" data-search-input />
      <button type="submit">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
      </button>
    </div>
  </form>
</div>
