<nav class="site navigation">
	<div class="trigger"><a href="#" onclick="javascript:var m=getElementById('menu');m.style.opacity=1;return void(0);">AAPAE</a></div>
	<ul id="menu">
		<li><a href="/">Home</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/events/">Events</a></li>
		<li><a href="/membership/">Membership</a></li>
		<li><a href="/publications/">Publications</a></li>
		<li><a href="/contact/">Contact</a></li>
	</ul>
</nav>

<form class="search-bar" action="/search" method="get" data-search-form>
  <div class="search-and-submit">
    <input type="search" placeholder="Enter Search" name="q" id="q" data-search-input />
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
    </button>
  </div>
</form>