<div class="topbar">

  <p class="notice">
    <a href="/events/cfp-ethics-of-ai">
    Call for papers: The Ethics of Artificial Intelligence and the Professions<br />
    Special edition of Research in Ethical Issues in Organizations, the official journal of the AAPAE.
    </a>
  </p>

  <nav class="site navigation">
  	<div class="trigger">
      <a href="#" onclick="javascript:var m=getElementById('menu');m.style.opacity=1;return void(0);">
        {% include hamburger.html %}
        AAPAE
      </a>
    </div>
  	<ul id="menu">
  		<li><a href="/">Home</a></li>
  		<li><a href="/about/">About</a></li>
  		<li><a href="/events/">Events</a></li>
  		<li><a href="/membership/">Join Us</a></li>
      <li><a href="/contact/">Contact</a></li>
      <li><a href="/newsletters/">Newsletters, etc</a></li>
  		<li class="search-nav"><a href="/search/">Search</a></li>
  	</ul>
  </nav>

  <form class="search-bar" action="/search" method="get" data-search-form>
    <div class="search-and-submit">
      <input type="search" placeholder="Enter Search" name="q" id="q" data-search-input />
      <button type="submit">
        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
      </button>
    </div>
  </form>
</div>
