<li class="post">
  <h2><a class="post-link" href="#">{{ person.name }}</a></h2>
  <span class="post-meta">{{ person.role }}</span>

  <div class="contact">
    <span class="detail">{{ person.affiliation }}</span>
    <span class="detail">{{ person.address }}</span>
    <span class="detail">{{ person.phone }}</span>
    {% if person.email %}
    <span class="detail"><a href="mailto:{{ person.email | cgi_escape }}">{{ person.email }}</a></span>
    {% endif %}
    {% if person.blog %}
    <span class="detail"><a href="{{ person.blog }}">{{ person.blog }}</a></span>
    {% endif %}
  </div>

  <div class="bio">
    {{ person.content }}
  </div>
  
</li>