<section class="signup">
   <div class="wrapper">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//aapae.us9.list-manage.com/subscribe/post?u=e4822513e8ec52ab622046519&amp;id=98da348d0e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <h3>Subscribe to the AAPAE's Listserv today!</h3>
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>

        <label for="mce-EMAIL">Email Address </label>            
        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->            
        <input type="text" name="b_e4822513e8ec52ab622046519_98da348d0e" tabindex="-1" value="" style="position: absolute; left: -5000px;">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>
</section>   