input {
  border: 1px solid var(--color-lightgrey, #ccc);
  border-radius: 5px;
  padding: 0.25em 0.5rem;
  min-width: 10rem;
  font-size: 0.9rem;
  color: var(--color-darkgrey, #333);
}

input::placeholder {
  color: var(--color-lightgrey, #333);
  font-weight: 200;
}
