<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="home">

    <section class="hero">
      <div>
        <h4>Welcome to the</h4>
        <h1>Australian Association of <span>Professional</span> &amp; <span>Applied Ethics</span></h1>
      </div>
    </section>

    {% include navigation.html %}

    <section class="about">
      <div class="wrapper">
        <p class="quote">We're here to promote awareness of applied ethics and foster relationships between practitioners and academics.</p>
      </div>
    </section>    

    <section>
      <div class="wrapper bullets">
        <div class="bullet">
          <div class="bullet-content">
            <a href="/about"><h2>About Us</h2></a>
            <p>We provide a meeting point for practitioners from various fields together with academics with specialist expertise.</p>
          </div>
        </div>  
        <div class="bullet">
          <div class="bullet-content">
            <a href="/events"><h2>Events</h2></a>
            <p>We hold regular events including conferences, colloquia, and workshops. View our calendar to find out more.</p>
          </div>
        </div>
        <div class="bullet">
          <div class="bullet-content">
            <a href="/publications"><h2>Publications</h2></a>
            <p>Out library contains a range of publications and resources for both academic ethicists and practitioners.</p>
          </div>
        </div> 

      </div>
    </section>

    <section class="signup">
       <div class="wrapper">
        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <form action="//aapae.us9.list-manage.com/subscribe/post?u=e4822513e8ec52ab622046519&amp;id=98da348d0e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <h3>Subscribe to our newsletter Australian Ethics</h3>
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>

            <label for="mce-EMAIL">Email Address </label>            
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->            
            <input type="text" name="b_e4822513e8ec52ab622046519_98da348d0e" tabindex="-1" value="" style="position: absolute; left: -5000px;">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </form>
        </div>
        <!--End mc_embed_signup-->
      </div>
    </section>    

    <section>
      <div class="wrapper">
        <ul class="post-list">
        {% for post in site.posts | limit:5 %}
          <li class="post">
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            <div class="excerpt">
              {{ post.excerpt }}
            </div>
          </li>
        {% endfor %}
        </ul>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
